<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/election_survey_new?autoReconnect=true&amp;useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <!--<property name="hibernate.connection.isolation">1</property>-->
        <!--<property name="hibernate.connection.datasource">ElectSvy</property>-->
        <!--<property name="hibernate.connection.verifyServerCertificate">false</property>-->
        <!--<property name="hibernate.connection.requireSSL">false</property>-->
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!-- Enable Hibernate's automatic session context management, in this case the session will be close after each 
        transaction! -->
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">false</property>
        <!-- auto create tables -->
        <property name="hbm2ddl.auto">none</property>
        <mapping class="com.election.mapping.Party"/>
        <mapping class="com.election.mapping.Ward"/>
        <mapping class="com.election.mapping.MobMasterdata"/>
        <mapping class="com.election.mapping.User"/>
        <mapping class="com.election.mapping.Voting"/>
        <mapping class="com.election.mapping.CandidateList"/>
        <mapping class="com.election.mapping.Province"/>
        <mapping class="com.election.mapping.Candidate"/>
        <mapping class="com.election.mapping.ElectionSurveyInfo"/>
        <mapping class="com.election.mapping.PartyLa"/>
        <mapping class="com.election.mapping.ServiceList"/>
        <mapping class="com.election.mapping.ElectionSurvey"/>
        <mapping class="com.election.mapping.District"/>
        <mapping class="com.election.mapping.LocalAuthority"/>
        
    </session-factory>
</hibernate-configuration>
